@{
    ViewBag.Title = "Biking";
}

<!--Jumbotron-->
<div class="container-fluid m-0 p-0">
    <div class="jumbotron-fluid m-0">
        <div class="bike-banner" style="height: 20rem;">
            <div style="height: 50%; padding:5em">
                <div class="row-1">
                    <div class="col text-md-center text-sm-left ">
                        <h1 class="display-4">Biking</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Message-->
<div class="container">
    <div class="row">
        <h1 class="display-1">
            Biking
        </h1>
    </div>
       <div class="row">
           <p>
               When you thinking of Biking and Augusta you think about FATS(Forks Area Trail System).
               At FATS there are over 37 cumlative miles of mountain biking trails for riders of all levels of experince.
               Many trails in the area are able to be linked together to form rides that can be up to 70miles long.
               SORBA.CSRA is the page to go to for biking in the area. For now I won't recreate their great work and put a link below to take you to their site. 
               For hikers and trail runners. These trails are great for that too!

           </p>
    </div>
    <div class="row">
        <div class="col justify-content-center">
            <a class="btn btn-primary btn-lg" href="https://sorbacsra.org/index.html" role="button">SORBA.CSRA</a>
                
        </div>
    </div>
</div>
