@{
    ViewBag.Title = "Disc Golf";
}

<!--Jumbotron-->
<div class="container-fluid m-0 p-0">
    <div class="jumbotron-fluid m-0">
        <div class="dg-banner" style="height: 20rem;">
            <div style="height: 50%; padding:5em">
                <div class="row-1">
                    <div class="col text-md-center text-sm-left ">
                        <h1 class="display-4">Disc Golf</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Message-->
<div class="container">
    <div class="row">
        <h1 class="display-1">
            Disc Golf
        </h1>
    </div>
    <div class="row">
        <p>
            Disc golf is a great activiy to do outdoors anytime of the year.
            Start up in this sport is fairly inexpenssive and most corses are free to play.
            Did you know that the Augusta area is home to the PDGA International Disc Golf Center at Wildwood Park.
            In addition the Augusta area had over ten quality locations to play disc golf. Each course in the area is vastly different with variying levels of challenge.
            Click the link below to see a list of the disc golf courses in the area and read up on their reviews.
        </p>
    </div>
    <div class="row">
        <div class="col justify-content-center">
            <a class="btn btn-primary btn-lg" href="https://www.dgcoursereview.com/browse.php?ext_results=&cname=&designer=&country=1&city=&state=&zip_distance=25&zipcode=30904&holes=0&length_min=&length_max=&num_reviews=&rating_min=&rating_max=&yem=&yex=&cndtn=&mtees=&mpins=&holetype=0&teetype=0&cf=&terrain%5B%5D=1&terrain%5B%5D=2&terrain%5B%5D=3&coursetype%5B%5D=1&coursetype%5B%5D=2&landscape%5B%5D=1&landscape%5B%5D=2&landscape%5B%5D=3&private=1&paytoplay=1" role="button">Disc Golf Courses</a>

        </div>
    </div>
</div>

<!--
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p><p>Use this area to provide additional information.</p>
    -->
