@{
    ViewBag.Title = "Hiking";
}

<!--Jumbotron-->
<div class="container-fluid m-0 p-0">
    <div class="jumbotron-fluid m-0">
        <div class="hike-banner" style="height: 20rem;">
            <div style="height: 50%; padding:5em">
                <div class="row-1">
                    <div class="col text-md-center text-sm-left ">
                        <h1 class="display-4">Hiking</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Message-->
<div class="container">
    <div class="row">
        <h1 class="display-1">
            Hiking
        </h1>
    </div>
    <div class="row">
        <p>
            There are few fun Hiking Trails in the Augusta Area. Many are family friendly, being shorter and not to challenging.
            In addition all of the biking trails are also avalible to hike,
            just watch out for bikers. Take extra caution when spending time in the woods of the Augusta area in the warmer months
            the ticks love it around here.
            <br /><br />
        </p>
    </div>
</div> 
<!--Hiking places-->
<div class="containter ml-5">
    <!--place 1-->
    <div class="row-1">
        <h3>
            Stevens Creek Heritage Preserve
        </h3>
    </div>
    <div class="row-1 d-flex">
        <div class="col-4">
            <p>
                To reach Stevens Creek Preserve, take highway 221 south of Modoc and Hamilton Branch State Park to the
                community of Clarks Hill, turn west onto county route 420 past Laurel Grove Church to County Route 88. Then turn left onto 88 and continue towards the Edgefield County line, the preserve is located on the north side of the road.
                The site is marked by a Heritage Trust Preserve sign and a small parking area.
            </p>
        </div>
        <div class="col-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13279.627891407332!2d-82.1625866!3d33.6854729!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xeb26b27757d658be!2sStevens+Creek+Heritage+Preserve!5e0!3m2!1sen!2sus!4v1556302678951!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>

    <!--place 2-->
    <div class="row-1">
        <h3>
            Savannah River Bluffs Heritage Preserve
        </h3>
    </div>
    <div class="row-1 d-flex">
        <div class="col-4">
            <p>
                Take Plantation Dr off of W Martintown Rd (230) 
                then veer right on Old Plantation Rd (a narrow paved one lane road).
            </p>
        </div>
        <div class="col-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d53214.24572165232!2d-81.98730179154836!3d33.530236180543135!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb9d15528df37fb4b!2sSavannah+River+Bluffs+Heritage+Preserve!5e0!3m2!1sen!2sus!4v1556303532615!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>        </div>
        </div>
</div>


