@{
    ViewBag.Title = "Paddling";
}
<!--Jumbotron-->
<div class="container-fluid m-0 p-0">
    <div class="jumbotron-fluid m-0">
        <div class="paddle-banner" style="height: 20rem;">
            <div style="height: 50%; padding:5em">
                <div class="row-1">
                    <div class="col text-md-center text-sm-left ">
                        <h1 class="display-4">Paddling</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Message-->
<div class="container">
    <div class="row">
        <h1 class="display-1">
            Paddling
        </h1>
    </div>
    <div class="row">
        <p>
            There is so much good paddling to do in Augusta. Most of the water is flat here but the challenges are accessablity
            and navigation. With increased challenges come increased reward. Here is an attempt to share consisely the
            paddling spots in the Area, those hidden secrets and all. You all the correct saftey precautions and plan you transportation accurately.
            <br />
        </p>
        <ul>
            <li>
                Higher Level Planning and experience recommended: Clarks Hill, Stevens Creek, and Savannah River
            </li>
            <li>
                Loops: Betty's Branch and Stalling's Island
            </li>
            <li>
                Beginner Level: Augusta Canal
            </li>
        </ul>
    </div>
</div>
<br /><br />
<!--Paddling places-->
      <div class="containter ml-5">

          <!--place 1-->
          <div class="row-1">
              <h3>
                  Clark's Hill Lake
              </h3>
          </div>
          <div class="row-1">
              <div class="col-6">
                  <p>
                      Starting with the largest body of water in the Area is Clarks Hill Lake. There are so many access points to the lake I will not begin to list them.
                      Look on a map for boat ramps and give one a go. In addition many campgrounds have good access points and at one time
                      even offered rental boats.
                  </p>
                  <br />
                  <br />
              </div>
          </div>

          <!--place 2-->
          <div class="row-1">
              <h3>
                  Stevens Creek
              </h3>
          </div>
          <div class="row-1">
              <div class="col-6">
                  <p>
                      Steven's Creek flows into the Savannah River. If you want to take on this trip you will have to plan well as put in and take out places are going to be limited.
                      And there is not a loop route on this water. Check out the Steven Creek Boat ramp as place to help you on this adventure.
                  </p>
              </div>
              <br />
              <br />
          </div>

          <!--place 3-->
          <div class="row-1">
              <h3>
                  Savannah River
              </h3>
          </div>
          <div class="row-1">
              <div class="col-6">
                  <p>
                      I would only recomend this trip for more experience paddlers who also observe the conditions of the river.
                      The rapids on the river are not to be taken for granted in a high water senerio. There is excellent access to the River at the
                      Canal Head Gates. One must carry their boat across one of the bridges there and then down a stair case to the landing area. Good take outs are at the
                      North Augusta Boat Ramp, the Augusta Rowing club, or for a even longer trip look at the boat ramp at the Augusta Lock and Dam.
                  </p>
              </div>
              <br />
              <br />
          </div>

          <!--place 4-->
          <div class="row-1">
              <h3>
                  Stallings Island
              </h3>
          </div>
          <div class="row-1">
              <div class="col-6">
                  <p>
                      This is a one mile long section of the Savannah River between the Stevens Creek
                      hydro dam and the Old Augusta Canal Dam. Put in is actually at the Savannah Rapids/Old lock and Dam Park. There
                      carry kayaks a short ways up to the launch site located above
                      the canal dam on the GA sided of the canal head gate. I have included a google maps screen shot of the area where you can kayak route.
                      The take in and out is the same place as most of the shore line is private property on both GA and SC sides of the river. The challenge is
                      pretty easy and it is a very fun place to kayak and explore around many small islands.
                  </p>
              </div>
              <div class="row-1">
                  <div class="col-5">
                      <img src="../assets/images/StallingsIslandMap.PNG" height="auto" width="100%">
                  </div>
              </div>
              <br />
              <br />
          </div>

          <!--place 5-->
          <div class="row-1">
              <h3>
                  Edisto River's South Fork at Aiken State Park
              </h3>
          </div>
          <div class="row-1">
              <div class="col-6">
                  <p>
                      Paddling the Edisto River's South Fork at Aiken State Park is a bit out of the way for
                      most Augusta adventurers, which is why this location is included. What makes this trip
                      unique is that the river is almost completely covered with shade from the trees that
                      abound there. There is a slight current present, which if the area has had heavy rain fall,
                      can add to the challenge and make it difficult to paddle up stream.

                      Calling the state park prior to the trip is an excellent idea for planning put in and take out,
                      and they even provide shuttles and boats for a very reasonable price.
                  </p>
              </div>
              <div class="row-1">
                  <a class="btn btn-primary btn-lg" href="https://southcarolinaparks.com/aiken">Aiken State Park</a>
              </div>
              <br />
              <br />
          </div>

          <!--place 6-->
          <div class="row-1">
              <h3>
                  Betty's Branch
              </h3>
          </div>
          <div class="row-1">
              <div class="col-6">
                  <p>
                      Betty’s Branch is a tributary to the Savannah River. The first half of the route rans parallel
                      to the Savannah River and you paddle against the gentle current of the creek. This protion then opens
                      up to the Savannah River where you paddle onto the river. Paddle down river until you have to make a
                      sharp turn back into the creek on the GA side of the river. Best to look at a map before going or talking
                      to the rental place that is located at the boat ramp to understand the route.
                      It is an easy trip to plan because the launch and take out are at the same boat ramp.
                  </p>
              </div>
              <div class="row-1">
                  <div class="col-5">
                      <p>
                          4431 Hardy McManus Road <br />
                          Evans, GA 30809
                      </p>
                      <img src="../assets/images/BettiesBranchLoop.jpg" height="auto" width="100%">
                  </div>
              </div>
              <br />
              <br />
          </div>

          <!--place 7-->
          <div class="row-1">
              <h3>
                  Augusta Canal
              </h3>
          </div>
          <div class="row-1">
              <div class="col-6">
                  <p>
                      The Augusta Canal is a very popular location to paddle due to its
                      easy accessablity, gentle current and great scenery. Typcially put in at the beginning of the
                      Augusta Canal at the Savannah Rapids Park and Pavilion.
                      Take out at Lake Olmstead, at the Kroc Center parking lot, or head all the way to the end and take out at the Walton Rehabilitation parking lot
                      downtown. Depeneding on which location the trip will take around 2-3 hours.
                      Be sure to plan your transportation as this is not a loop.
                      Kayak rental and shuttles are avalible for this trip from a few companies.
                  </p>
              </div>
              <div class="row-1">
                  <div class="col-5">
                      <a class="btn btn-primary btn-lg" href="https://augustacanal.com/download/Map%20Handouts%2011%20x%2017.pdf">Canal Map</a>
                  </div>
              </div>
              <br />
              <br />
          </div>

          <!--place 8-->
          <div class="row-1">
              <h3>
                  Other Locations
              </h3>
          </div>
          <div class="row-1">
              <div class="col-6">
                  <p>
                      A few neighborhoods along the river have docks. If you have access to these neighborhoods or if they have public access 
                      you can plan a trip around these put in and take out locations. Be creative, look at maps, plan well and always take appropriate safety procautions. 
                  </p>
              </div>
              <br />
              <br />
          </div>

      </div>

