@{
    ViewBag.Title = "Walking";
}

<!--Jumbotron-->
<div class="container-fluid m-0 p-0">
    <div class="jumbotron-fluid m-0">
        <div class="walk-banner" style="height: 20rem;">
            <div style="height: 50%; padding:5em">
                <div class="row-1">
                    <div class="col text-md-center text-sm-left ">
                        <h1 class="display-4">Walking</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Message-->
<div class="container">
    <div class="row">
        <h1 class="display-1">
            Walking
        </h1>
    </div>
    <div class="row">
        <p>
            These walking and running places are a great way to get outside without much committment and is a good way to excersize.
            While there are many many parks around the Augusta area where there are small walking paths, these follwoing four are the
            best that fit this catagory best.
            <br /><br />
        </p>
    </div>
</div>
<!--walking places-->
<div class="containter ml-5">
    <!--place 1-->
    <div class="row-1">
        <h3>
            Augusta Canal
        </h3>
    </div>
    <div class="row-1">
        <div class="col-6">
            <p>
                The Augusta Canal is the most popular outdoor feature in Augusta hands down. There are many places to get access to the Canal.
            </p>
        </div>
        <div class="row-1">
            <ul>
                <li>
                    <div class="col">
                        <a aria-expanded="false" aria-controls="headgates" data-toggle="collapse" href="#headgates">
                            Headgates at Savannah Rapids Park
                        </a>
                        <p class="collapse" id="headgates">
                            Address: 3300 Evans to Locks Rd, Augusta, GA 30907
                        </p>
                        <iframe class="collapse" id="headgates" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3325.1456950312518!2d-82.03996917587973!3d33.54959071826411!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f832a90a4baca9%3A0xdcac2906cc5b99fb!2sAugusta+Canal+Headgates+%26+Locks!5e0!3m2!1sen!2sus!4v1556371508196!5m2!1sen!2sus" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </li>
                <li>
                    <div class="col">
                        <a aria-expanded="false" aria-controls="pumpingStation" data-toggle="collapse" href="#pumpingStation">
                            Water Pump Station, end of Riverlook Drive
                        </a>
                        <p class="collapse" id="pumpingStation">
                            2421 Riverlook Dr, Augusta, GA 30904
                        </p>
                        <iframe class="collapse" id="pumpingStation" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13300.291570158652!2d-82.0389258!3d33.5514824!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdcac2906cc5b99fb!2sAugusta+Canal+Headgates+%26+Locks!5e0!3m2!1sen!2sus!4v1556370600601!5m2!1sen!2sus" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </li>
                <li>
                    <div class="col">
                        <a aria-expanded="false" aria-controls="olmstead" data-toggle="collapse" href="#olmstead">
                            Lake Olmstead
                        </a>
                        <p class="collapse" id="olmstead">
                            Augusta Canal Historic Trail, Augusta, GA 30904
                            At the end of Milledge Road.
                        </p>
                        <iframe class="collapse" id="olmstead" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13308.013573021468!2d-82.01264192606699!3d33.501288842148114!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f9cd0021d3a7e7%3A0x261ebc5441283e6f!2sLake+Olmstead+Trailhead!5e0!3m2!1sen!2sus!4v1556371220883!5m2!1sen!2sus" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </li>
                <li>
                    <div class="col">
                        <a aria-expanded="false" aria-controls="kroc" data-toggle="collapse" href="#kroc">
                            Mill Village Trailhead, Grace Street near Kroc Center
                        </a>
                        <p class="collapse" id="kroc">
                            Chafee Park Augusta, GA 30904
                            Near the Kroc Center.
                        </p>
                        <iframe class="collapse" id="kroc" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3805.203022320526!2d-81.99359221560292!3d33.487759629551434!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f9cc539bc4d03d%3A0x599e5b3b1cb4779e!2sChafee+Park%2C+Augusta%2C+GA+30904!5e0!3m2!1sen!2sus!4v1556371728783!5m2!1sen!2sus" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </li>
                <li>
                    <div class="col">
                        <a aria-expanded="false" aria-controls="mill" data-toggle="collapse" href="#mill">
                            Discovery Center at Enterprise Mill
                        </a>
                        <p class="collapse" id="mill">
                            1450 Greene St #400, Augusta, GA 30901
                        </p>
                        <iframe class="collapse" id="mill" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d784.8311634971002!2d-81.98231201328039!3d33.477341832310216!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f9cc446a45c82b%3A0x72aa0df9ad004d4c!2sAugusta+Canal+National+Heritage+Area!5e0!3m2!1sen!2sus!4v1556371941145!5m2!1sen!2sus" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </li>
                <li>

                    <div class="col">
                        <a aria-expanded="false" aria-controls="rehab" data-toggle="collapse" href="#rehab">
                            Old Turning Basin
                        </a>
                        <p class="collapse" id="rehab">
                            1320 Independence Dr, Augusta, GA 30901
                            Near 13th Street, near Walton Rehab Hospital
                        </p>
                        <iframe class="collapse" id="rehab" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3139.420852913483!2d-81.98225128905703!3d33.47468684684229!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f9cc413efba6cb%3A0x24f0729a7fa48a58!2sMeadow+Garden!5e0!3m2!1sen!2sus!4v1556372219775!5m2!1sen!2sus" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
        </div>
        </li>
        </ul>

    </div>
    <br />
    <br />

    <!--place 2-->
    <div class="row-1">
        <h3>
            North Augusta Greenway
        </h3>
    </div>
    <div class="row-1">
        <div class="col-6">
            <p>
                The Greenway in North Augusta is an excellent place to walk, run, ride a streetbike or hybridbike, or even go rollerblading. The path is paved and very well maintained. Like the Augusta Canal there are multiple access pointes this long trail. The linked Greenway Brochure highlights these access points.
            </p>
        </div>
        <div class="row-1">
            <a href="https://www.northaugusta.net/home/showdocument?id=2385" class="btn btn-primary"> Greenway Brochure</a>
        </div>
        <br />
        <br />

        <!--place 3-->
        <div class="row-1">
            <h3>
                Phinizy Swamp
            </h3>
        </div>
        <div class="row-1">
            <div class="col-6">
                <p>
                    The Phinizy Swamp is more out of the way than the Augusta Canal or the North Augusta Greenway, but the short trip is worth your time. Here you will likely see more wildlife than on anyother walking trail. This being said watch out for alligators and snakes. Click the button below to check out the trails infromation and entry points.
                </p>
            </div>
            <div class="row-1">
                <a href="https://phinizycenter.org/park-trails-and-features/" class="btn btn-primary">Phinizy Swamp</a>
            </div>
            <br />
            <br />

            <!--place 4-->
            <div class="row-1">
                <h3>
                    Augusta Riverwalk
                </h3>
            </div>
            <div class="row-1">
                <div class="col-6">
                    <p>
                        The Augusta River Walk is located in Downtown Augusta.
                        It is a great place to watch rowers practicing rowing out of the Augusta rowing club,
                        walking after enjoying the Saturday morning famer's market,
                        or taking a stroll after getting a bite to eat at one of Augusta's downtown restaurants.
                        There are many ways to get access to the Augusta Riverwalk outlined in the link below.
                    </p>
                </div>
                <div class="row-1">
                    <a href="https://www.augustaga.gov/292/Riverwalk" class="btn btn-primary">Augusta Riverwalk</a>
                </div>
                <br />
                <br />

                <!--
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
        -->

